/* base media queries */

/* xs mobile*/
/* @media (min-width: 475px) {} */

/* sm mobile*/
/* @media (min-width: 640px) {} */

/* md tablet*/
/* @media (min-width: 768px) {} */

/* lg laptop*/
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
}

.container__top {
  margin-top: 5rem;
}

.btn {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-style: none;
  outline: none;
  border-radius: 1.5px;
  cursor: pointer;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .container__top {
    margin-top: 7.25rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
