@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", "Montserrat", sans-serif;
  color: gray;
  background-color: #222438;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15%;
  padding-left: 15%;

}

nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 25px;

}

nav ul li a {
  text-decoration: none;
}

nav ul li :hover {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid white;

}

nav .brand {
  font-weight: 600;
  font-style: italic;
}

nav .brand > b {
  color: #f54854;
}

nav .brand:hover{
    cursor: pointer;
}

section.welcome {
  display: flex;
  flex-direction: column;
  margin: 30px 150px;
}

section.welcome h1 {
  margin-bottom: 10px;
}

section.welcome pre {
  line-height: 28px;
}
section.welcome button {
  width: fit-content;
  padding: 10px 30px;
  color: white;
  background-color: #f54854;
  border-style: none;
  outline: none;
}

section.welcome button:hover {
  background-color: rgba(255, 0, 0, 0.678);
}

section.skills {
  margin: 30px 150px;
}

section.skills .skillhead {
  padding: 10px 0;
}

section.skills .skillhead > h6,
h1 {
  margin-bottom: 10px;
  color: white;
}

section.skills .skillhead h1 {
  font-weight: 700;
  color: #f54854;
}

section.skills .skillhead h1 > hr {
  width: 50px;
  margin-top: 10px;
}

section.skillgroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

section.skillgroup .skillitem {
  padding: 40px;
  background-color: #292c3e;
  box-shadow: 4px 8px 12px #2a2c3d83;
}

section.skillgroup .skillitem  p i{
    color: #f54854;
}

section.skillgroup .skillitem > p,
h4 {
  margin-bottom: 10px;
  background-color: #292c3e;
  color: white;
}

footer {
  margin: 30px 150px;
}

footer .form {
  display: flex;
  flex-direction: column;
  width: 66.66%;
}
footer > h3 {
  color: #f54854;
}

footer .form > input {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-color: #eee;
  border-style: solid;
}

footer .form > input::placeholder {
  padding: 20px;
}

footer .form > input:focus {
  border-color: rgba(207, 70, 70, 0.662);
}

footer .form > button {
  display: flex;
  width: 33.33%;
  color: white;
  border-style: solid;
  background-color: #f54854;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  font-weight: 900;
  margin-left: auto;
}

footer .form > button:hover {
  background-color: rgba(255, 0, 0, 0.678);
}

footer .form button > i {
  color: white;
  margin-left: 5px;
  background-color: #f54854;
}

